@import 'variables';
@import 'fonts';
@import 'scaffolding';
@import 'header';
@import 'buttons';
@import 'form';
@import 'card';
@import 'quotes';
@import 'footer';

.hero {
  margin-bottom: 200px;
  background: url('../images/hero-bg.svg') no-repeat right bottom;
  @media (max-width: 992px) {
    margin-bottom: 80px;
    background-size: contain;
  }
  &__container {
    max-width: 600px;
    padding-top: 79px;
    @media (max-width: 992px) {
      padding: 0;
    }
  }
  &__title {
    span {
      color: #FF6E30;
    }
    @media (max-width: 992px) {
      margin-bottom: 24px;
      font-size: 38px;
      line-height: 46px;
    }
  }
  &__text {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    @media (max-width: 992px) {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .hero__socials {
    display: flex;
    @media (max-width: 992px) {
    }
  }
}

.search-form {
  margin-bottom: 110px;
  position: relative;
  max-width: 499px;
  &__submit {
    padding: 12px 36px;
    top: 8px;
    right: 11px;
    position: absolute;
  }
  @media (max-width: 992px) {
    margin-bottom: 40px;
  }
}

.tools {
  margin-bottom: 200px;
  @media (max-width: 992px) {
    margin-bottom: 60px;
  }
  &__wrap {
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 48px;
    line-height: 62px;
    @media (max-width: 992px) {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 40px;
    }
  }
  &__text {
    margin-bottom: 110px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    @media (max-width: 992px) {
      margin-bottom: 60px;
      font-size: 16px;
      line-height: 26px;
    }
  }
  &__list {
    grid-column-gap: 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 392px;
    margin: 0 auto;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: none;
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__card {
    margin-bottom: 100px;
    @media (max-width: 992px) {
      padding: 22px;
      margin-bottom: 20px;
    }
  }
  &__more {
    padding: 16px 38px;
    &_hidden {
      display: none;
    }
  }
}

.brands {
  margin-bottom: 220px;
  @media (max-width: 992px) {
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 55px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }
  &__wrap {
    padding: 55px 82px;
    position: relative;
    background: rgba(44, 53, 61, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 25px;
    overflow: hidden;
    &:before {
      left: -80px;
      top: -86px;
      content: '';
      position: absolute;
      display: block;
      width: 160px;
      height: 160px;
      background: rgba(255, 72, 66, 0.4);
      filter: blur(50px);
    }
    @media (max-width: 992px) {
      padding: 32px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 992px) {
      flex-flow: column;
      align-items: center;
    }
  }

  &__item {
    @media (max-width: 992px) {
      margin-bottom: 30px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.new-tools {
  margin-bottom: 40px;
  @media (min-width: 992px) {
    margin-bottom: 200px;
  }
  &__wrap {
    justify-content: space-between;
    display: flex;
    @media (max-width: 992px) {
      flex-flow: column;
    }
  }

  &__info {
    max-width: 430px;
    @media (max-width: 992px) {
      margin-bottom: 60px;
      text-align: center;
      max-width: none;
      grid-template-columns: repeat(1,1fr);
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: rgba(255, 255, 255, 0.9);
    @media (max-width: 992px) {
      margin-bottom: 20px;
      text-align: center;
      font-size: 34px;
      line-height: 40px;
    }
  }

  &__text {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    @media (max-width: 992px) {
      margin-bottom: 40px;
      text-align: center;
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__list {
    margin: 0 auto;
    max-width: 392px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: none;;
    }
    @media (min-width: 992px) {
      grid-row-gap: 50px;
      max-width: 600px;
    }
  }
}

.join {
  margin-bottom: 80px;
  @media (min-width: 992px) {
    margin-bottom: 240px;
  }
  &__wrap {
    margin: 0 auto;
    max-width: 553px;
  }
  &__title {
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    @media (max-width: 992px) {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 40px;
    }
  }
  &__text {
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    @media (max-width: 992px) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 26px;
    }
  }
  &-form {
    position: relative;
    &__submit {
      padding: 12px 36px;
      top: 8px;
      right: 11px;
      position: absolute;
    }
  }
}
